/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body{
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* card css in react */

/* this is example of external css in react */

/* get the class name */
/* .btn{
  width: 200px;
  background-color: aqua transparent;
  border: 1px solid black;
  border-radius: 10px;
}
.btn:hover{
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
 
} */
/* end of external css in react */