*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

footer{
  background-color: aquamarine;
  display: flex;
  position: fixed;
  bottom: 0;
}